# Meta Ads
META_ACCESS_TOKEN=your_meta_access_token
# Lista separada por comas, cualquier cantidad de cuentas (con o sin prefijo "act_")
AD_ACCOUNT_IDS=act_xxxxxxxxxxxx,act_yyyyyyyyyyyy,act_zzzzzzzzzzzz
MONTHLY_BUDGET=12000
CLIENT_NAME=ARI CLARO
CURRENCY=PEN

# GoHighLevel (GHL) - integración de mensajes/oportunidades
GHL_API_KEY=pit-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
GHL_LOCATION_ID=your_location_id
GHL_PIPELINE_ID=your_pipeline_id
GHL_STAGE_ID=your_stage_id
GHL_BASE_URL=https://services.leadconnectorhq.com
